* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  max-width: 100vw;
}

p {
  width: 40em;
  max-width: 100%;
}

img {
  max-width: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navbar {
    float: left;
  }
  
li.navbar-test{
  background-color: red;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navbar-test {
  color: black;
}

  /* Change the link color to #111 (black) on hover */
  li a.navbar:hover {
    background-color: #111;
  }

  /* Change the link color to #111 (black) on hover */
  li a.navbar-test:hover {
    background-color: rgb(255, 146, 146);
  }