* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  max-width: 100vw;
}

p {
  width: 40em;
  max-width: 100%;
}

img {
  max-width: 100%;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navbar {
  float: left;
}

li.navbar-test {
  background-color: red;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navbar-test {
  color: black;
}

/* Change the link color to #111 (black) on hover */
li a.navbar:hover {
  background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a.navbar-test:hover {
  background-color: rgb(255, 146, 146);
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.img_col_l {
  flex: 2.5;
  overflow: auto;
}

.img_col_r {
  flex: 1;
  overflow: auto;
}

.img_row {
  display: flex;
  width: 45em;
  max-width: 100%;
  /* align-items: flex-start; */
}

/* Clear floats after image containers */
/* .img_row::after {
  content: "";
  clear: both;
  display: table;
} */

html {
  /* max-width: 70ch; */
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + 0.5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui;
}

/* increase line-height for everything except headings */
body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}
