* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  max-width: 100vw;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre,
div.codehilite,
table,
img,
figure,
.dp-grid,
.chart {
  width: 40rem;
  max-width: 100%;
}

img.dp-img {
  height: 100%;
}

code {
  background-color: #f8f8f8;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navbar {
  float: left;
}

li.navbar-test {
  background-color: red;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navbar-test {
  color: black;
}

/* Change the link color to #111 (black) on hover */
li a.navbar:hover {
  background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a.navbar-test:hover {
  background-color: rgb(255, 146, 146);
}


html {
  /* max-width: 70ch; */
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + 0.5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui;
}

/* increase line-height for everything except headings */
body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}

figure {
  display: inline-block;
  margin-inline: 0 0;
}

figure img {
  width: 35rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  caption-side: bottom;
  width: 35rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.med {
  width: 75%;
}

pre {
  overflow-x: auto;
}
