<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tom Pekin, PhD</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css"
      integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='bmg_tensile_bar@2x.png') }}"
    />

    <!-- pure CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block head %}{% endblock %}
  </head>

  <body>
    <header>
      <div>
        <nav>
          <ul class="navbar">
            <li class="navbar">
              <a class="navbar" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="navbar">
              <a class="navbar" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="navbar">
              <a class="navbar" href="{{url_for('posts')}}">Posts</a>
            </li>
            <li class="navbar">
              <a class="navbar" href="{{url_for('dp_sim')}}"
                >Diffraction Pattern Simulation</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div>{% block body %}{% endblock %}</div>
  </body>
</html>
