<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}

<form action="/test" method="get">
  <p>Enter Name:</p>
  <p><input type="text" name="structure" /></p>
  <p><input type="submit" value="submit" /></p>
</form>

<!-- <br> -->
{% if success == True %}
<p>My name is {{structure}}.</p>
<div class="img_row">
  <div class="img_col">
    <img src="/test/img/structure_plot.png" alt="Crystal Structure" />
  </div>
  <div class="img_col">
    <img src="/test/img/dp_plot.png" alt="Diffraction Pattern" />
  </div>
</div>
{% else %} {% endif %} {% endblock %}
